body {
  font-size:1em;
  font-family:monospace;
  color:#ddd;
  margin:2em;
  background:#111;
}

/* Categories */
div.i { 
  margin:4em 0em; 
  background:#333;
}
div.i img {
  max-width:100%; 
}

a {
  font-weight:bold;
  color:#fff;
}
